* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
}

.form-reservation {
    max-width: 450px;
    margin: auto;
}

.button-submit {
    margin-top: 30px;
}

.icon {
    display: block;
    ;
}

input, textarea, select {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

a {
    text-decoration: none;
}

.button-group, .form-group {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

.button-about {
    color: #FCB371;
    border: 2px solid #FCB371;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0 5px;
}

/* .button-about:hover {
    color: #ffffff;
    background-color: #FCB371;
} */

.button-reservation {
    color: #ffffff;
    border: 2px solid #FCB371;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #FCB371;
    margin: 0 5px;
}

/* .button-reservation:hover {
    color: #FCB371;
    background-color: transparent;
} */

.about {
    /* background-image: url('../img/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vh; */
}

.overlay {
    background: rgba(42, 38, 61, 0.82);
    width: 100%;
    height: 100%;
    position: fixed;
}

.icon {
    padding: auto;
}

.container p {
    color: #ffffff;
}

.back {
    margin: 40px;
    position: absolute;
}

.title {
    font-size: 48px;
    color: #FCB371;
    text-align: center;
    padding: 20px;
    position: relative;
}

.content-about {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    padding: 20px 100px;
    margin: 20px;
    position: relative;
}