@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display');
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-reservation {
    max-width: 450px;
    margin: auto;
}

.title {
    font-family: 'Pacifico';
    font-size: 48px;
    text-align: center;
}

.title-orange {
    font-family: 'Pacifico';
    color: #FCB371 !important;
    font-size: 48px;
    text-align: center;
    font-weight: normal;
}

.subtitle {
    text-align: center;
    font-family: 'SF Pro Display';
    margin: 20px 0;
    font-size: 14px;
}

.icon {
    display: block;
}

input, textarea, select {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    font-family: 'SF Pro Display';
    font-size: 12px;
}

form {
    margin-top: 4em;
}

a {
    text-decoration: none;
}

.button-group, .form-group {
    display: flex;
    justify-content: center;
}

.button-group {
    margin: 50px 0;
}

.button {
    border: 2px solid #FCB371;
    border-radius: 6px;
    font-family: 'Pacifico';
    font-size: 12px;
    width: 150px;
    padding: 10px 0;
    text-align: center;
}

.button-submit {
    padding: 1rem;
    margin-top: 30px;
    width: 100%;
    background-color: #FCB371;
    color: #ffffff;
}

.button-about {
    color: #FCB371;
    background-color: transparent;
    margin: 0 5px;
}

.button-reservation {
    color: #ffffff;
    background-color: #FCB371;
    margin: 0 5px;
}

.bg-about {
    /* background-image: url('../img/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vh; */
}

.about {
    margin-top: 100px;
}

.overlay {
    background: rgba(42, 38, 61, 0.82);
    width: 100%;
    height: 100%;
    position: fixed;
}

.icon {
    padding: auto;
}

.container p {
    color: #ffffff;
}

.back {
    margin: 40px;
    position: absolute;
}

.content-about {
    font-family: 'SF Pro Display';
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    padding: 20px 100px;
    margin: 20px;
    position: relative;
}